<br>
<br>
<br>

<div class="signuplens">
    <form [formGroup]="SignUpForm" (ngSubmit)="SignUp()">
      <h4 class="register">Register Now</h4>
      <input
        type="email"
        placeholder="enter email"
        formControlName="email"
        name="email"
        [ngClass]="{
          error: getControl('email')?.errors && getControl('email')?.touched
        }"
      /> <br>
      <div class="mb-3" *ngIf="getControl('email')?.errors && getControl('email')?.touched">
        <small
          class="text-danger"
          *ngIf="getControl('email')?.errors?.['required']"
        >
          email is required
        </small>
        <small
        class="text-danger"
        *ngIf="getControl('mobileNumber')?.errors?.['maxlength'] || getControl('mobileNumber')?.errors?.['minlength'] || getControl('mobileNumber')?.errors?.['pattern']"
      >
        please enter a valid email 
      </small>
      </div>
    <!-- end of email -->
    
      <br />
      <input
        type="text"
        placeholder="enter username"
        formControlName="username"
        name="username"
        [ngClass]="{
          error: getControl('username')?.errors && getControl('username')?.touched
        }"
      /> <br>
      <div *ngIf="getControl('username')?.errors && getControl('username')?.touched">
        <small
          class="text-danger"
          *ngIf="getControl('username')?.errors?.['required']"
        >
          user name is required
        </small>
      </div>
      <br />
    
      <!-- for mobile number  -->
      <input
        type="text"
        name="mobileNumber"
        id="mobileNumber"
        placeholder="enter mobileNumber"
        formControlName="mobileNumber"
        [ngClass]="{
          error:
            getControl('mobileNumber')?.errors &&
            getControl('mobileNumber')?.touched
        }"
      /> <br>
      <div *ngIf="getControl('mobileNumber')?.errors && getControl('mobileNumber')?.touched">
        <small
          class="text-danger"
          *ngIf="getControl('mobileNumber')?.errors?.['required']"
        >
        mobile Number is required
        </small>
        <small
        class="text-danger"
        *ngIf="getControl('mobileNumber')?.errors?.['maxLength'] || getControl('mobileNumber')?.errors?.['minLength'] || getControl('mobileNumber')?.errors?.['pattern']"
      >
        please enter a valid mobile number
      </small>
      </div>
      <!-- ending mobile number input -->
      <br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="enter password"
        formControlName="password"
        [ngClass]="{
          error: getControl('password')?.errors && getControl('password')?.touched
        }"
      /> <br>
      <br />
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        placeholder="confirm password"
        formControlName="cnfPassword"
        [ngClass]="{
          error:
            getControl('cnfPassword')?.errors && getControl('cnfPassword')?.touched
        }"
      /> <br>
    
      <br />
      <button type="submit" class="btn" (click)="registerNow()">submit</button>
      <p class="member">Already a user? <a routerLink="/login">login</a></p>
    </form>
  </div>

  
  <!-- <div>
    <h3>{{message}}</h3>
  </div> -->
