/* You can add global styles to this file, and also import other style files */
body{

    margin: 0;
    padding: 0;
    /* background-image: url("../src/app/lensBackground.png"); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-color: rgb(182, 142, 142);

}

