
.nav{
    background-color: #050505;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: large;

}

.pname{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.btn{
    color:aqua;
    background-color: black;
}